[include]
	path = ~/.gitconfig.mac
[include]
	path = ~/.gitconfig.wsl
[include]
	path = ~/.gitconfig.linux
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
